
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Анастасия Удодова. {% block lab %}{% endblock %}</title>
    {% if request.cookies.get('color') %}
    <style>
        body {
            color: {{ request.cookies.get('color') }};
        }
    </style>
    {% endif %}
</head>
<style>
    .error {
    color: red;
    }
</style>
<body>
    <header>
        WEB-программирование, 2 часть. {{ self.lab() }}
    </header>

    <main>
        <a href="/menu">Меню</a>
        {% block main %}{% endblock %}
    </main>

    <footer>
        &copy; Анастасия Удодова, ФБИ-14, 3 курс, 2023
    </footer>
</body>
</html>