{% extends "base.html" %}

{% block lab %}Лабораторная работа 4{% endblock %}

{% block main %}
    <h1>Установка температуры</h1>

    <form method="POST">
        <label for="temperature">Введите температуру:</label>
        <input type="number" id="temperature" name="temperature">
        <button type="submit">Установить температуру</button>
        <div id="vtemp">
            {{ vtemp }}
        </div>
        <div>
            <a href="/lab4/holodilnik">Установить снова</a>
        </div>
    </form>
    
{% endblock %}