{% extends "base.html" %}

{% block lab %} Лабораторная работа 6 {% endblock %}

{% block main %}
    <p>
        <a style="font-weight: bold;">База знаний</a>
        <a href="/lab6/articles">Просмотреть заметки</a>
        <a href="/lab6/newtitle">Создание заметки</a>
        <a href="/lab6/login">
            <button class="log1" type="submit">Логин</button>
        </a>
        <a style="margin-left: 5%;" href="/lab6/register">
            <button class="log2" type="submit">Регистрация</button>
        </a>
        <form action="/lab6/logout">
            <button class="button_user" type="submit">Выйти</button>
        </form>

        {% if current_user.username %}
            {{ current_user.username }}</div>
        {% else %}
            <div style="font-weight: bold;">Anon</div>
        {% endif %}


        <h1>Статьи</h1>
        <ul>
            {% for article in articles %}
            <li>{{ article.title }} <a href="/lab6/articles/{{ article.id }}">/lab6/articles/{{ article.id }}</a></li>
            {% endfor %}
        </ul>
    </div>

    
{% endblock %}