{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    
    {% if fio %}
    <h1>Железнодорожный билет</h1>
    <h2>Ваш билет:</h2>
    <div>ФИО пассажира: {{ fio }}</div>
    <div>Возраст пассажира: {{ age }}</div>
    <div>Тип: {{ typee }}</div>
    <div>Полка: {{ berth }}</div>
    <div>Багаж: {{ luggage }}</div>
    <div>Пункт выезда: {{ departure }}</div>
    <div>Пункт назначения: {{ destination }}</div>
    <div>Дата поездки: {{ date }}</div>
    <h1>Счастливого пути!</h1>

    {% else %}

        <h1>Покупка железнодорожного билета</h1>
        <form>

            <label>ФИО пассажира:</label>
            <div>
                <input type="text" name="fio" value="{{ user or '' }}">
                <span class="error">{{ errors.fio }}</span>
            </div>

            <label>Возраст пассажира:</label>
            <div>
                <input type="number" name="age" min="18" max="120" value="{{ age or '' }}">
                <span class="error">{{ errors.age }}</span>
            </div>

            <label>Тип:</label>
            <div>
                <select name="typee">
                    <option value="adult" {{ type == 'adult' and 'selected' }}>Взрослый</option>
                    <option value="child" {{ type == 'child' and 'selected' }}>Детский</option>
                </select>
            </div>

            <label>Полка:</label>
            <div>
                <select name="berth">
                    <option value="lower" >Нижняя</option>
                    <option value="upper" >Верхняя</option>
                    <option value="lower-side" >Нижняя боковая</option>
                    <option value="upper-side" >Верхняя боковая</option>
                </select>
            </div>

            <label>Багаж:</label>
            <div>
                <input type="checkbox" name="luggage">
            </div>

            <label>Пункт выезда:</label>
            <div>
                <input type="text" name="departure" value="{{ departure or '' }}">
                <span class="error">{{ errors.departure }}</span>
            </div>

            <label>Пункт назначения:</label>
            <div>
                <input type="text" name="destination" value="{{ destination or '' }}">
                <span class="error">{{ errors.destination }}</span>
            </div>

            <label>Дата поездки:</label>
            <div>
                <input type="date" name="date" value="{{ date or '' }}">
                <span class="error">{{ errors.date }}</span>
            </div>

            <button type="submit">Купить билет</button>
        </form>
    {% endif %}
{% endblock %}